@import url('https://fonts.googleapis.com/css?family=Mulish:100,200,300,400,500,600,700,800,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f9f9f9;

  /* box-shadow: 0 1px 3px 0 #e6ebf1; */
  /* -webkit-transition: box-shadow 150ms ease; */
  /* transition: box-shadow 150ms ease; */
}

/* .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
} */

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
